*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar{
    background-color: green;
    border-radius: 20px;
}

.navbar ul{
    justify-content: end;
    padding: 20px;
    margin: 20px;
    display: flex;
    text-align: right;
    list-style-type: none;
    gap: 10px;
}

.navbar a{
    text-decoration: none;
    border: 2px solid blue;
    
    color: brown;
    font-size: small;
    
}
.navbar a:hover{
    color: black;
transition: 1.5s;
    border: 5px solid yellow;
    border-radius: 15px;

}
.grid-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding-inline: 50px;
    padding-bottom: 40px;
    margin-top: 300px;


}

.grid-items{
    padding: 50px;
    border-radius: 30px;
    font-size: 1.2rem;
    color: green;
    transition: box-shadow 0.3 ease-in-out;

}

.grid-items:hover{
    box-shadow:5px 5px 5px  5px black;
    transform: scale(1.07);

}

