*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar{
    background-color:green;
    overflow: hidden;
}

.navbar ul{
    margin: 0;
    padding: 0;
    list-style-type:none;
    padding-inline-start: 30px;
    font-size: medium;
    
    
    
}

.navbar a:hover{
    color: blue;
    

}

.navbar li{
    float: left;
    
    
    

}


.navbar a{
    display: flex;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    


}


.header-text{
    background-color: green;
    text-align: center;
    color: white;
    text-align: center;
    padding-bottom: 300px;
    padding-top: 200px;
    margin-bottom: 60px;
    
}

.header-text h1{
   background-image: linear-gradient(to top,lime,pink,white);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   text-align: center;
   padding-top: 20px;
   font-size: 6rem;
   font-weight:150;
   line-height: 1.5;
   /*Adjust for smaller screens*/

   @media(max-width:768px){
    font-size: 4rem;
   }
   /*Adjust for even smaller screen */
   @media(max-width: 480px){
    font-size: 2rem;
   }
}  
.header-text p{
    font-size: 1.5rem;
    width: 70%;
    margin: 0 auto;
    text-align: center;
    /*Adjust for smaller screen*/
    @media(max-width:768px){
        font-size:3rem ;
    }  
     /*Adjust for even smaller screen */
         @media(max-width: 480px){ 
            font-size: 1rem;
                  
          }                   

}
.feature{
    color:lime;
    font-weight: 500;
    font-size: 3rem;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 20px;
    padding-block-end: 50px;
}

.feature h3{
    border-bottom: solid limegreen;
    display: inline-block;
    padding-bottom: 20px;
    font-size: 40px;
    text-shadow: 4px 4px 4px green;
    /*Adjust for smaller screen*/
    @media(max-width:768px){
        font-size:4rem ;
    /*Adjust for even smaller screen*/
    @media(max-width: 480px){
        font-size: 2rem;
    }
}    
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding-inline: 50px;
    padding-bottom:30px ;
    /*for screens smaller than or equal to 600px */
    @media(max-width:768px){
        grid-template-columns: repeat(2,1fr);/*one column per row */
    }
    
    @media (max-width:600px){
        grid-template-columns:1fr ;
    }    
}

h2{
    text-align: center;
    color: black;
}

.grid-item {
    padding: 20px;
    border-radius: 25px;
    font-size: 1.1rem;
    color: rgb(13, 182, 13);
    transition: box-shadow 0.2s ease-out; /* Adjust transition duration as needed */
  }

  .grid-item p {
    padding-block: 20px;
    color: black;
  }

  .grid-item h1 {
    text-align: center;
    color: #4da808;
    padding-bottom: 10px;
  }

  .grid-item:hover {
    box-shadow: 0px 5px 10px black;
    transform: scale(1.05);

    transition: box-shadow 0.4s ease-in-out;
  }

  

  


